{% extends 'base.html' %}

{% block header %}
    <h1>Stores (alphabetically)</h1>
{% endblock %}

{% block content %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Postcode</th>
                <th scope="col">Longitude</th>
                <th scope="col">Latitude</th>
            </tr>
        </thead>
        <tbody>
            {% for record in info %}
               <tr>
                   <td scope="row">{{record.name}}</td>
                   <td scope="row">{{record.postcode}}</td>
                   <td scope="row">{{record.longitude}}</td>
                   <td scope="row">{{record.latitude}}</td>
               </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}